{% extends "../base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<h1 class="text-center mx-auto text-3xl mt-32" >{% trans "Sign Out" %}</h1>

<p class="text-center mx-auto mt-4">{% trans 'Are you sure you want to sign out?' %}</p>

<form class="text-center mx-auto mt-2" method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button  class="bg-red-700 p-2 rounded-lg hover:bg-red-800" type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}