{% extends '../base.html' %}
{% load static %}
{% block title %}
email verify
{% endblock title %} 
{% block others %}
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock others %}
    
{% block content %}


<div class="bg-black flex justify-center flex-col mx-auto text-center ">
    <h1 class="text-3xl font-semibold text-red-600 mt-16 mb-4">Verify Your E-mail Address</h1>

    <p class="text-lg">We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main inbox, check your spam folder. Please contact us if you do not receive the verification e-mail within a few minutes.</p>
</div>

{% endblock %}