{% load static %}
<nav class="flex justify-between items-center py-3 px-4 fixed w-full z-50">
    <div class="w-6/12">
        <img src="{% static 'netflix.png' %}" alt="logo" class="w-5/12 md:w-2/12">
    </div>

    <div> 
        {% if request.user.is_authenticated %}
        <a href="{% url 'account_logout' %}" class='bg-primary_red py-2 px-3 text-white md:text-lg rounded-md'>
           Logout
        </a>
        {% else %}
        <a href="{% url 'account_signup' %}" class='bg-primary_red py-2 px-3 text-white md:text-lg rounded-md'>
           Signup
        </a>
        {% endif %}
    </div>
</nav>